version: '3.8'

services:
    # --- MySQL 8.0 ---
    mysql:
        image: mysql:8.0
        container_name: pump-mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: sakila
        ports:
            - "3306:3306"
        volumes:
            - ./sakila-data/mysql-sakila-schema.sql:/docker-entrypoint-initdb.d/init.sql

    # --- PostgreSQL 15 ---
    postgres:
        image: postgres:15-alpine
        container_name: pump-postgres
        restart: always
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: root
            POSTGRES_DB: sakila
        ports:
            - "5432:5432"
        volumes:
            - ./sakila-data/postgres-sakila-schema.sql:/docker-entrypoint-initdb.d/init.sql

    # --- Microsoft SQL Server 2022 ---
    mssql:
        image: mcr.microsoft.com/mssql/server:2022-latest
        container_name: pump-mssql
        restart: always
        environment:
            ACCEPT_EULA: "Y"
            MSSQL_SA_PASSWORD: "StrongPass1!" # Must be complex
            MSSQL_PID: "Express"
            MSSQL_COLLATION: "Korean_Wansung_CI_AS"
        ports:
            - "1433:1433"
        volumes:
            # Initial SQL script (Manual execution required)
            - ./sakila-data/mssql/init.sql:/var/opt/mssql/init.sql

    # 1. 오라클 데이터베이스 서비스
    oracle:
        image: gvenzl/oracle-free:latest
        container_name: pump-oracle
        ports:
            - "1521:1521"
        environment:
            - ORACLE_PASSWORD=StrongPass1!
            - APP_USER=PUMP_USER
            - APP_USER_PASSWORD=PumpPass1!
        volumes:
            - oracle_data:/opt/oracle/oradata
            - ./sakila-data/oracle/init.sql:/opt/oracle/scripts/setup/init.sql

    # --- Adminer (Database Management UI) ---
    adminer:
        build: . # 현재 폴더의 Dockerfile을 사용해 빌드합니다
        container_name: pump-adminer
        dns:
            - 8.8.8.8
            - 8.8.4.4
        ports:
            - "8080:80"
        environment:
            - ADMINER_DEFAULT_SERVER=oracle:1521/FREEPDB1
        depends_on:
            - oracle
volumes:
    oracle_data:
